


@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');









.containerSec2{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cardSec2{
    width: 400px;
    height: 85px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: 3px 3px 10px 0px #0000003d;

    display: flex;
}

.SxSec2{
    width: 100px;
    height: 100%;
    /* background-color: red; */
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.ballSec2{
    width: 70px;
    height: 70px;
    background-color: #252525;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.ballSec2 svg{
    width: 35px;
    fill: #ffffff;
}


.DxSec2{
    width: 300px;
    height: 100%;
    /* background-color: rgb(136, 0, 0); */
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Economica', sans-serif;
    font-size: 2rem;
    color: #5c5c5c;
}



@Media screen and (max-width: 1370px){

    .cardSec2 {
        width: 340px;

    }
}


@Media screen and (max-width: 1150px){

    .cardSec2 {
        width: 280px;
        height: 80px;
    }

    .ballSec2 {
        width: 60px;
        height: 60px;
    }
}



@Media screen and (max-width: 1150px){

    .cardSec2 {
        width: 230px;
        height: 70px;
    }

    .ballSec2 {
        width: 45px;
        height: 50px;
    }
}


@Media screen and (max-width: 830px){

    .containerSec2 {
        flex-direction: column;
        height: 35vh;
    }

    .cardSec2 {
        width: 90%;
        height: none;
        padding: 30px 0px;
        
    }


    .DxSec2 {
        width: 75%;

    }
}
